*.class
*.properties

# Package Files #
*.jar
*.war
*.ear
src/main/java/storm/example

# Twitter Related Conf
sample_tweet.json
src/main/resources/twitter4j.properties

#ignore Intellij files
.idea/
target/
*.iml
*.ipr
*.iws

environment/.vagrant
*.swp
environment/kafkadata
environment/apache-storm-0.9.2-incubating
